@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb custom-breadcrumb">
            <li class="breadcrumb-item titulo1"><a href="#">CUENTA</a></li>
            <li class="breadcrumb-item titulo1 active">CAMBIO DE PASSWORD</li>
        </ol>
    </nav>
</div>

<div>    
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
