@using ECAuth.Models.ManageViewModels
@using ECAuth.Views.Manage
@using Microsoft.Extensions.Options;
@inject IOptions<MyConfig> OptionsApplicationConfiguration

@model ECAuth.Models.ManageViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Cambio de Password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="UserName" type="hidden" />
            <input asp-for="ReturnUrl" type="hidden" />
            <div class="form-group">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Guardar Contraseña</button>
            <button type="button" class="btn btn-default" onclick="location.href='@OptionsApplicationConfiguration.Value.URLHomeExternalApp'">Volver</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
