@using Microsoft.Extensions.Options;
@inject IOptions<MyConfig> OptionsApplicationConfiguration

@{
    ViewData["Title"] = "Confirmación de reestablecimiento de contraseña";
}

<h2>@ViewData["Title"]</h2>
<p>
    Su contraseña ha sido reestablecida.
    <a class="btn btn-default ic-ok" href="@OptionsApplicationConfiguration.Value.URLHomeExternalApp"> <i class="ic-ok"></i>Acceder</a>
</p>
